@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
*
* Border-box sizing by default
*
**/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
*
* Base font size for REM usage
*
**/
html {
  height: 100%;
  font-size: 62.5%; }

/**
*
* Clearfix
*
**/
.cf:after {
  content: "";
  display: table;
  clear: both; }

/**
*
* Vertical align
*
**/
/**
*
* Z-index levels
*
**/
/**
*
* REM mixin with pixel fallback
* -- Eduardo Bouças (https://github.com/eduardoboucas/)
*
* NOTE: You must set the font-size to 62.5% on the html element!
*
**/
/**
*
* Import fonts
*
**/
/**
*
* Page width constrain. Set the max and minimum width and use `@extend %constrain` to constrain the width.
*
**/
body {
  margin: 0 !important;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 25px;
  line-height: 2.5rem;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: "Lora", serif;
  font-weight: 400; }
  @media (min-width: 1024px) {
    body {
      height: 100%; } }

::selection {
  background: #0076E0;
  color: #fff; }

h1, h2, h3 {
  font-weight: 400;
  margin-bottom: 25px; }

strong {
  font-weight: 700; }

img {
  max-width: 100%;
  height: auto; }

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%; }

.title {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 33px;
  font-size: 3.3rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .title {
      font-size: 40px;
      font-size: 4rem;
      line-height: 30px;
      line-height: 3rem; } }

.nav {
  background: #000;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 25px 0;
  text-align: center; }
  @media (min-width: 768px) {
    .nav {
      text-align: right; } }

.nav__item {
  display: inline-block;
  padding: 0 9px;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 19px;
  line-height: 1.9rem; }
  @media (min-width: 430px) {
    .nav__item {
      font-size: 15px;
      font-size: 1.5rem;
      line-height: 19px;
      line-height: 1.9rem;
      padding: 0 20px; } }
  @media (min-width: 500px) {
    .nav__item {
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 25px;
      line-height: 2.5rem; } }
  @media (min-width: 1500px) {
    .nav__item {
      font-size: 20px;
      font-size: 2rem;
      line-height: 27px;
      line-height: 2.7rem; } }

.nav__link {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #000;
  transition: border-bottom 0.15s ease-in; }
  .nav__link:hover {
    border-bottom: 2px solid #fff; }

.hero {
  background-color: #fff;
  position: relative;
  padding: 15px 0 0; }
  @media (min-width: 768px) {
    .hero {
      background-image: url("../img/bg__hero--desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: right;
      height: 600px;
      padding: 0; } }
  @media (min-width: 1024px) {
    .hero {
      background-image: url("../img/bg__hero--widescreen.jpg");
      height: calc(100vh - 75px);
      max-height: 700px; } }
  @media (min-width: 1500px) {
    .hero {
      max-height: 900px; } }
  @media (min-width: 1700px) {
    .hero {
      max-height: 1100px; } }

.hero__text {
  padding: 30px 25px;
  background: #fff;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto 20px;
  text-align: center; }
  @media (min-width: 768px) {
    .hero__text {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 48%;
      padding: 40px;
      margin: 0 20px;
      opacity: 0.9;
      max-width: none;
      filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4)); } }
  @media (min-width: 1024px) {
    .hero__text {
      width: 42%;
      margin: 0 70px;
      text-align: left; } }
  @media (min-width: 1600px) {
    .hero__text {
      width: 38%;
      margin: 0 100px 0 200px;
      padding: 60px; } }
  @media (min-width: 1800px) {
    .hero__text {
      width: 30%; } }

.hero__image {
  height: 0;
  padding-bottom: 100%;
  background-image: url("../img/bg__hero--tablet.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; }
  @media (min-width: 768px) {
    .hero__image {
      background-image: none;
      display: none; } }

.hero__title {
  font-size: 50px;
  font-size: 5rem;
  line-height: 50px;
  line-height: 5rem;
  margin-bottom: 10px;
  color: #000;
  font-weight: bold; }
  @media (min-width: 400px) {
    .hero__title {
      font-size: 60px;
      font-size: 6rem;
      line-height: 60px;
      line-height: 6rem; } }
  @media (min-width: 768px) {
    .hero__title {
      margin-bottom: 20px; } }
  @media (min-width: 1700px) {
    .hero__title {
      font-size: 60px;
      font-size: 6rem;
      line-height: 60px;
      line-height: 6rem; } }

.hero__sub {
  font-size: 30px;
  font-size: 3rem;
  line-height: 30px;
  line-height: 3rem;
  margin-bottom: 20px;
  color: #004A82;
  font-weight: bold; }
  @media (min-width: 400px) {
    .hero__sub {
      font-size: 40px;
      font-size: 4rem;
      line-height: 40px;
      line-height: 4rem; } }
  @media (min-width: 768px) {
    .hero__sub {
      margin-bottom: 20px; } }
  @media (min-width: 1700px) {
    .hero__sub {
      font-size: 40px;
      font-size: 4rem;
      line-height: 40px;
      line-height: 4rem; } }

.hero__intro {
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 27px;
  line-height: 2.7rem; }
  @media (min-width: 500px) {
    .hero__intro {
      font-size: 22px;
      font-size: 2.2rem;
      line-height: 35px;
      line-height: 3.5rem; } }
  @media (min-width: 1500px) {
    .hero__intro {
      font-size: 27px;
      font-size: 2.7rem;
      line-height: 35px;
      line-height: 3.5rem; } }

.about {
  background-color: #004A82;
  font-size: 0; }

/* About bullet points section */
.about__brief {
  background-color: #004A82;
  color: #fff;
  padding: 45px 25px 20px;
  vertical-align: middle;
  text-align: left; }
  @media (min-width: 768px) {
    .about__brief {
      padding: 70px 25px 45px; } }
  @media (min-width: 1024px) {
    .about__brief {
      display: inline-block;
      width: 50%;
      padding: 20px 25px 0; } }

.about__keypoint {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 22px;
  line-height: 2.2rem;
  margin-bottom: 30px; }
  @media (min-width: 400px) {
    .about__keypoint {
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 24px;
      line-height: 2.4rem; } }
  @media (min-width: 500px) {
    .about__keypoint {
      font-size: 20px;
      font-size: 2rem;
      line-height: 27px;
      line-height: 2.7rem; } }
  @media (min-width: 768px) {
    .about__keypoint {
      font-size: 22px;
      font-size: 2.2rem;
      line-height: 29px;
      line-height: 2.9rem; } }
  @media (min-width: 1024px) {
    .about__keypoint {
      font-size: 20px;
      font-size: 2rem;
      line-height: 27px;
      line-height: 2.7rem; } }

.about__bullet {
  font-size: 20px;
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 30px;
  width: 23px;
  stroke: white;
  fill: none; }

.about__bullet-text {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 40px); }

/* About bio */
.about__bio {
  background-color: #fff;
  padding: 45px 25px 20px;
  color: #000; }
  @media (min-width: 768px) {
    .about__bio {
      padding: 70px 25px 45px; } }
  @media (min-width: 1024px) {
    .about__bio {
      display: inline-block;
      width: 50%;
      vertical-align: middle;
      padding: 70px 40px 45px; } }
  @media (min-width: 1700px) {
    .about__bio {
      padding: 90px 40px 75px; } }

.about__intro {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 22px;
  line-height: 2.2rem;
  margin-bottom: 25px; }
  @media (min-width: 400px) {
    .about__intro {
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 24px;
      line-height: 2.4rem; } }
  @media (min-width: 500px) {
    .about__intro {
      font-size: 19px;
      font-size: 1.9rem;
      line-height: 26px;
      line-height: 2.6rem; } }
  @media (min-width: 768px) {
    .about__intro {
      font-size: 20px;
      font-size: 2rem;
      line-height: 27px;
      line-height: 2.7rem; } }
  @media (min-width: 1024px) {
    .about__intro {
      font-size: 19px;
      font-size: 1.9rem;
      line-height: 26px;
      line-height: 2.6rem; } }

#form {
  background-color: #0076E0;
  padding: 40px; }
  @media (min-width: 430px) {
    #form {
      background-image: url("../img/bg-form--large.jpg");
      background-repeat: no-repeat;
      background-size: cover; } }
  @media (min-width: 768px) {
    #form {
      padding: 80px; } }

.form {
  font-size: 0;
  opacity: 0.9;
  color: #fff; }
  @media (min-width: 430px) {
    .form {
      margin: 0 auto;
      background-color: #fff;
      color: #000;
      border-radius: 10px;
      padding: 40px; } }
  @media (min-width: 900px) {
    .form {
      width: 80%; } }
  @media (min-width: 1024px) {
    .form {
      width: 60%; } }

.form__title {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 33px;
  line-height: 3.3rem;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700; }
  @media (min-width: 430px) {
    .form__title {
      width: 80%;
      margin: 0 auto 10px; } }

.form__intro {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin-bottom: 40px;
  text-align: center; }
  @media (min-width: 430px) {
    .form__intro {
      width: 80%;
      margin: 0 auto 40px; } }

.form__field {
  position: relative;
  padding-bottom: 30px; }

.form__label {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 30px;
  line-height: 3rem;
  display: block; }
  @media (min-width: 430px) {
    .form__label {
      width: 80%;
      margin: 0 auto; } }

/* To do - check opera mini fallback */
.form__input {
  display: block;
  width: 100%;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 30px;
  line-height: 3rem; }
  @media (min-width: 430px) {
    .form__input {
      width: 80%;
      margin: 0 auto; } }

.form__error-message {
  position: absolute;
  color: red;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 21px;
  line-height: 2.1rem;
  opacity: 0;
  top: -20px; }
  @media (min-width: 430px) {
    .form__error-message {
      padding-left: 10%; } }

.form__options {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 25px;
  line-height: 2.5rem;
  margin: 30px 0 5px; }

.form__comments {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 25px;
  line-height: 2.5rem; }
  @media (min-width: 430px) {
    .form__comments {
      width: 80%;
      margin: 0 auto; } }

.form__comment {
  width: 100%;
  height: 100px;
  margin-bottom: 25px; }
  @media (min-width: 430px) {
    .form__comment {
      display: block;
      width: 80%;
      margin: 0 auto 40px; } }

.form__submit {
  text-align: right; }
  @media (min-width: 430px) {
    .form__submit {
      padding-right: 10%; } }

.form__button {
  display: inline-block;
  border-radius: 3px;
  border: 2px solid #0076E0;
  padding: 10px 25px;
  margin-bottom: 25px;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 25px;
  line-height: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  background-color: #fff;
  color: #0076E0; }
  .form__button:hover {
    color: #fff;
    background-color: #0076E0;
    border: 2px solid #fff; }
  @media (min-width: 430px) {
    .form__button {
      background-color: #0076E0;
      color: #fff; }
      .form__button:hover {
        color: #0076E0;
        background-color: #fff;
        border: 2px solid #0076E0; } }

.footer {
  background-color: #000;
  color: #fff;
  padding: 30px 20px; }
  @media (min-width: 1500px) {
    .footer {
      font-size: 22px;
      font-size: 2.2rem; } }

.footer__date {
  margin-bottom: 2px; }
  @media (min-width: 1000px) {
    .footer__date {
      display: inline-block;
      vertical-align: top;
      width: 33.33333%;
      margin-right: -4px;
      padding-left: 15px; } }

.footer__contact {
  margin-bottom: 2px; }
  @media (min-width: 1000px) {
    .footer__contact {
      display: inline-block;
      vertical-align: top;
      width: 33.33333%;
      margin-right: -4px;
      text-align: center; } }

.footer__slogan {
  margin-bottom: 2px;
  color: #0076E0; }
  @media (min-width: 1000px) {
    .footer__slogan {
      display: inline-block;
      vertical-align: top;
      width: 33.33333%;
      margin-right: -4px;
      text-align: right;
      padding-right: 15px; } }

.grid {
  font-size: 0; }

@media (min-width: 1024px) {
  .grid__flex-container {
    display: flex;
    flex-direction: row-reverse; } }

.grid__item {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 21px;
  line-height: 2.1rem;
  background-color: #fff; }
  @media (min-width: 1024px) {
    .grid__item {
      display: inline-block;
      vertical-align: top;
      /* Set up squares */
      width: 50%;
      height: 0;
      padding-bottom: 50%; } }

.grid__image {
  display: block; }

.grid__text {
  padding: 30px; }
  @media (min-width: 500px) {
    .grid__text {
      padding: 40px; } }
  @media (min-width: 768px) {
    .grid__text {
      padding: 50px; } }
  @media (min-width: 1024px) {
    .grid__text {
      padding: 40px 25px 40px 35px; } }
  @media (min-width: 1350px) {
    .grid__text {
      padding: 70px 50px 70px 70px; } }
  @media (min-width: 1700px) {
    .grid__text {
      padding: 100px; } }

.grid__title {
  font-size: 35px;
  font-size: 3.5rem;
  line-height: 35px;
  line-height: 3.5rem;
  margin-bottom: 25px;
  color: #000;
  font-weight: 700; }
  @media (min-width: 400px) {
    .grid__title {
      font-size: 45px;
      font-size: 4.5rem;
      line-height: 45px;
      line-height: 4.5rem; } }
  @media (min-width: 768px) {
    .grid__title {
      margin-bottom: 25px; } }

@media (min-width: 1024px) and (max-width: 1229px) {
  .grid__title {
    font-size: 35px;
    font-size: 3.5rem;
    line-height: 35px;
    line-height: 3.5rem; } }
  @media (min-width: 1700px) {
    .grid__title {
      font-size: 50px;
      font-size: 5rem;
      line-height: 60px;
      line-height: 6rem;
      margin-bottom: 35px; } }

.grid__intro {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 24px;
  line-height: 2.4rem;
  margin-bottom: 25px; }
  @media (min-width: 400px) {
    .grid__intro {
      font-size: 19px;
      font-size: 1.9rem;
      line-height: 27px;
      line-height: 2.7rem; } }
  @media (min-width: 1024px) {
    .grid__intro {
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 24px;
      line-height: 2.4rem; } }
  @media (min-width: 1230px) {
    .grid__intro {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media (min-width: 1500px) {
    .grid__intro {
      font-size: 19px;
      font-size: 1.9rem;
      line-height: 27px;
      line-height: 2.7rem; } }
  @media (min-width: 1700px) {
    .grid__intro {
      font-size: 24px;
      font-size: 2.4rem;
      line-height: 32px;
      line-height: 3.2rem; } }

@media (min-width: 1024px) and (max-width: 1229px) {
  .grid__intro--extra {
    display: none; } }

.grid__list {
  margin-bottom: 25px;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 20px;
  margin-bottom: 40px; }
  @media (min-width: 1700px) {
    .grid__list {
      margin-bottom: 60px; } }

.grid__list-item {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-weight: 400;
  padding-left: 10px;
  margin-bottom: 10px; }
  @media (min-width: 400px) {
    .grid__list-item {
      font-size: 19px;
      font-size: 1.9rem;
      line-height: 27px;
      line-height: 2.7rem; } }
  @media (min-width: 1024px) {
    .grid__list-item {
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 24px;
      line-height: 2.4rem; } }
  @media (min-width: 1230px) {
    .grid__list-item {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media (min-width: 1500px) {
    .grid__list-item {
      font-size: 19px;
      font-size: 1.9rem;
      line-height: 27px;
      line-height: 2.7rem; } }
  @media (min-width: 1700px) {
    .grid__list-item {
      font-size: 24px;
      font-size: 2.4rem;
      line-height: 32px;
      line-height: 3.2rem;
      margin-bottom: 20px; } }

.grid__cta {
  display: inline-block;
  background: transparent;
  border: 2px solid #0076E0;
  color: #0076E0;
  padding: 10px 20px;
  margin-bottom: 25px;
  font-size: 20px;
  font-size: 2rem;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in; }
  .grid__cta:hover {
    color: #fff;
    background-color: #0076E0; }
  @media (min-width: 400px) {
    .grid__cta {
      font-size: 23px;
      font-size: 2.3rem;
      padding: 15px 25px; } }
  @media (min-width: 1024px) {
    .grid__cta {
      font-size: 21px;
      font-size: 2.1rem; } }
  @media (min-width: 1230px) {
    .grid__cta {
      font-size: 23px;
      font-size: 2.3rem; } }
  @media (min-width: 1700px) {
    .grid__cta {
      font-size: 31px;
      font-size: 3.1rem;
      padding: 20px 30px; } }

.testimonials {
  position: relative;
  background-color: #fff;
  padding: 40px 0 15px;
  font-size: 0; }
  @media (min-width: 768px) {
    .testimonials {
      padding: 30px 0 45px; } }
  @media (min-width: 1024px) {
    .testimonials {
      padding: 100px 0 35px; } }
  @media (min-width: 1500px) {
    .testimonials {
      padding: 100px 0 85px; } }

.testimonials__title {
  font-size: 35px;
  font-size: 3.5rem;
  line-height: 40px;
  line-height: 4rem;
  padding: 0 25px;
  text-align: center;
  font-weight: 700;
  color: #000;
  max-width: 500px;
  margin: 0 auto 50px; }
  @media (min-width: 400px) {
    .testimonials__title {
      font-size: 40px;
      font-size: 4rem;
      line-height: 50px;
      line-height: 5rem; } }
  @media (min-width: 768px) {
    .testimonials__title {
      max-width: none;
      margin-bottom: 70px; } }
  @media (min-width: 1700px) {
    .testimonials__title {
      font-size: 50px;
      font-size: 5rem;
      line-height: 60px;
      line-height: 6rem;
      margin-bottom: 80px; } }

.testimonial {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 25px;
  line-height: 2.5rem;
  padding: 0 25px;
  margin-bottom: 45px;
  text-align: center; }
  @media (min-width: 768px) {
    .testimonial {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding: 0 40px;
      font-size: 17px;
      font-size: 1.7rem;
      line-height: 24px;
      line-height: 2.4rem;
      margin-bottom: 50px; } }
  @media (min-width: 1200px) {
    .testimonial {
      width: 33.333%; } }
  @media (min-width: 1500px) {
    .testimonial {
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 27px;
      line-height: 2.7rem;
      padding: 0 60px;
      margin-bottom: 80px; } }
  @media (min-width: 1700px) {
    .testimonial {
      font-size: 20px;
      font-size: 2rem;
      line-height: 28px;
      line-height: 2.8rem; } }
  .testimonial:last-of-type {
    margin-bottom: none; }
    .testimonial:last-of-type .testimonial__wrapper {
      border-bottom: none;
      padding-bottom: none; }
      @media (min-width: 768px) {
        .testimonial:last-of-type .testimonial__wrapper {
          border-bottom: 1px solid #efefef; } }
      @media (min-width: 1024px) {
        .testimonial:last-of-type .testimonial__wrapper {
          border-bottom: none; } }

.testimonial__wrapper {
  max-width: 535px;
  margin: 0 auto;
  border-bottom: 1px solid #efefef;
  padding-bottom: 45px; }
  @media (min-width: 1024px) {
    .testimonial__wrapper {
      border-bottom: none; } }

.testimonial__headline {
  font-size: 20px;
  font-size: 2rem;
  line-height: 25px;
  line-height: 2.5rem;
  font-weight: 700;
  margin-bottom: 15px; }
  @media (min-width: 1700px) {
    .testimonial__headline {
      font-size: 28px;
      font-size: 2.8rem;
      line-height: 37px;
      line-height: 3.7rem; } }

.testimonial__flag {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #000; }

.testimonial__quote {
  margin-bottom: 10px; }

.testimonial__source {
  margin-bottom: 2px;
  color: #000;
  font-weight: 700; }

.testimonial__job {
  margin-bottom: 5px;
  color: #0076E0;
  font-weight: 700; }

.testimonial__company {
  color: #000; }

.truncate {
  display: none; }
  @media (min-width: 1024px) {
    .truncate {
      display: inline; } }

.contact {
  background-color: #0076E0;
  padding: 60px 20px; }
  @media (min-width: 500px) {
    .contact {
      background-image: url("../img/background-form--tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 80px 40px; } }
  @media (min-width: 768px) {
    .contact {
      padding: 135px 80px; } }
  @media (min-width: 1024px) {
    .contact {
      background-image: url("../img/background-form--large.jpg"); } }
  @media (min-width: 1300px) {
    .contact {
      background-image: url("../img/background-form--widescreen.jpg"); } }
  @media (min-width: 1500px) {
    .contact {
      padding: 200px 80px; } }
  @media (min-width: 1700px) {
    .contact {
      padding: 300px 80px; } }

.contact__wrapper {
  opacity: 1;
  color: #fff;
  text-align: center; }
  @media (min-width: 500px) {
    .contact__wrapper {
      margin: 0 auto;
      padding: 40px 40px 50px;
      background-color: #fff;
      color: #000;
      border-radius: 10px;
      opacity: 0.85; } }
  @media (min-width: 600px) {
    .contact__wrapper {
      padding: 50px 20px 60px;
      max-width: 550px; } }
  @media (min-width: 768px) {
    .contact__wrapper {
      max-width: 550px; } }
  @media (min-width: 1500px) {
    .contact__wrapper {
      max-width: 700px; } }

.contact__header {
  font-size: 40px;
  font-size: 4rem;
  line-height: 50px;
  line-height: 5rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700; }
  @media (min-width: 1500px) {
    .contact__header {
      font-size: 50px;
      font-size: 5rem;
      line-height: 60px;
      line-height: 6rem;
      margin-bottom: 25px; } }

.contact__intro {
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 28px;
  line-height: 2.8rem;
  text-align: center;
  max-width: 410px;
  margin: 0 auto 20px; }
  @media (min-width: 600px) {
    .contact__intro {
      width: 80%;
      margin: 0 auto 20px;
      max-width: none; } }
  .contact__intro:last-of-type {
    margin-bottom: 30px; }
  @media (min-width: 1500px) {
    .contact__intro {
      font-size: 23px;
      font-size: 2.3rem;
      line-height: 32px;
      line-height: 3.2rem;
      margin: 0 auto 30px; }
      .contact__intro:last-of-type {
        margin-bottom: 40px; } }

.contact__email-wrapper {
  display: block;
  margin-bottom: 30px; }

.contact__email,
.contact__phone {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 35px;
  line-height: 3.5rem;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #000; }
  @media (min-width: 500px) {
    .contact__email,
    .contact__phone {
      background-color: #004A82;
      color: #fff; } }
  @media (min-width: 1500px) {
    .contact__email,
    .contact__phone {
      font-size: 35px;
      font-size: 3.5rem;
      line-height: 45px;
      line-height: 4.5rem;
      margin-bottom: 10px; } }

.icn__email,
.icn__phone {
  display: block;
  vertical-align: middle;
  width: 50px;
  height: 45px;
  margin: 0 auto 5px;
  fill: #fff;
  stroke: #000; }
  @media (min-width: 370px) {
    .icn__email,
    .icn__phone {
      display: inline-block;
      margin: 0 20px 0 0; } }
