/**
*
* Page width constrain. Set the max and minimum width and use `@extend %constrain` to constrain the width.
*
**/

$layout-max-width: 1280px;
$grid-max-width: 1150px;
$grid-item-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

$general-section-padding: 20px;
$vertical-rhythm: 25px;

%constrain {
    max-width: $layout-max-width;
    margin: 0 auto;
}

body {
    margin: 0 !important;
    @include font-size(18);
    @include line-height(25);
    background-color: #fff;
    -webkit-font-smoothing: antialiased;

    font-family: $font-primary;
    font-weight: $font-weight-normal;

    @include media('>=desktop') {
        height: 100%;
    }
}

::selection {
  background: $colour-brightblue;
  color: #fff; 
}

h1, h2, h3 {
    font-weight: $font-weight-normal;
    margin-bottom: $vertical-rhythm;
}

strong {
    font-weight: $font-weight-bold;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    margin: 0 auto;
    max-width: $layout-max-width;
    width: 100%;
}

.title {
    font-family: $font-title;
    font-weight: $font-weight-bold;

    @include font-size(33);
    @include line-height(28);
    margin-bottom: $vertical-rhythm;

    @include media('>=tablet') {
        @include font-size(40);
        @include line-height(30);
    }
}
