/**
*
* Import fonts
*
**/

$font-lora:'Lora', serif;
$font-source-sans-pro: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-primary: $font-lora;
$font-title: $font-source-sans-pro;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 600;