/**
*
* Import fonts
*
**/

$font-oswald: 'Oswald', sans-serif;
$font-merriweather: 'Merriweather', serif;

$font-primary: $font-merriweather;
$header-font: $font-oswald;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 600;
