.about {
	background-color: $colour-navy;
	font-size: 0;
}

/* About bullet points section */

.about__brief {
	background-color: $colour-navy;
	color: $colour-white;
	padding: 45px 25px 20px;
	vertical-align: middle;
    text-align: left;

    @include media('>=tablet') {
        padding: 70px 25px 45px;
    }

	@include media('>=desktop') {
		display: inline-block;
		width: 50%;
		padding: 20px 25px 0;
	}
}

.about__keypoint {
	@include font-size(16);
    @include line-height(22);
    margin-bottom: 30px;

    @include media('>=400px') {
		@include font-size(18);
    	@include line-height(24);
    }

    @include media('>=500px') {
    	@include font-size(20);
    	@include line-height(27);
    }
    @include media('>=tablet') {
    	@include font-size(22);
    	@include line-height(29);
    }
	@include media('>=desktop') {
		@include font-size(20);
    	@include line-height(27);
	}
}

.about__bullet {
	@include font-size(20);
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 30px;
    width: 23px;
	stroke: white;
    fill: none;
}

.about__bullet-text {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 40px);
}

/* About bio */

.about__bio {
	background-color: $colour-white;
	padding: 45px 25px 20px;
    color: $colour-black;

    @include media('>=tablet') {
        padding: 70px 25px 45px;
    }

    @include media('>=desktop') {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
	    padding: 70px 40px 45px;
    }
    @include media('>=1700px') {
    	padding: 90px 40px 75px;
    }
}

.about__intro {
	@include font-size(16);
    @include line-height(22);
	margin-bottom: $vertical-rhythm;

	@include media('>=400px') {
		@include font-size(18);
    	@include line-height(24);
    }
    @include media('>=500px') {
		@include font-size(19);
    	@include line-height(26);
    }
	@include media('>=tablet') {
		@include font-size(20);
    	@include line-height(27);
	}
	@include media('>=desktop') {
		@include font-size(19);
    	@include line-height(26);
	}
}
