.about {
	background-color: $colour-pink;
	font-size: 0;
}

.about__brief {
	background-color: $colour-pink;
	color: $colour-white;
	padding: 40px 40px 15px;
	vertical-align: middle;
    text-align: left;

	@include media('>=tablet') {
		display: inline-block;
		width: 50%;
	}
}

.about__bio {
	background-color: $colour-white;
	padding: 40px 40px 15px;
    color: $colour-black;

    @include media('>=tablet') {
		display: inline-block;
		width: 50%;
		vertical-align: middle;
	    padding: 80px 40px 55px;
    }
}

.about__intro {
	@include font-size(18);
    @include line-height(25);
	margin-bottom: $vertical-rhythm;
}

/*.about__keypoints,
.about__reasons {
	text-align: right;
}*/

.about__you {
	background-image: url('../img/bg-image-lesson--large.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: $general-section-padding;

	@include media('>=desktop') {
		padding: 80px;
	}	
}

.about__text {
	padding: 20px;
    width: 80%;
    margin: 40px auto;
    opacity: 0.85;
	background-color: $colour-white;
	
    @include media('>=tablet') {
     	width: 60%;
     	padding: $general-section-padding;
    	margin: 40px;
    	opacity: 0.9;
    }
}

.about__keypoint {
	@include font-size(20);
    @include line-height(27);
    margin-bottom: $vertical-rhythm;

    @include media('>=tablet') {
    	@include font-size(23);
    	@include line-height(22);
    }
}

.about__reason {
	@include font-size(18);
    @include line-height(21);
    margin-bottom: $vertical-rhythm;
}

.about__cta {
	color: $colour-navy;
	text-decoration: none;
}
