.contact {
    background-color: $colour-brightblue;
    padding: 40px;

    @include media('>=430px') {
        background-image: url('../img/bg-form--large.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    @include media('>=tablet') {
        padding: 135px 80px;
    }
}

.contact__wrapper {
    opacity: 0.9;
    color: $colour-white;
    text-align: center;
        @include media('>=430px') {
            margin: 0 auto;
            background-color: $colour-white;
            color: $colour-black;
            border-radius: 10px;
            padding: 60px 40px;
        }

        @include media('>=900px') {
            width: 80%;
        }

        @include media('>=desktop') {
            width: 60%;
        }
}

.contact__header {
    @include font-size(40);
    @include line-height(50);
    text-align: center;
    margin-bottom: 20px;
    font-weight: $font-weight-bold;
}

.contact__intro {
    @include font-size(19);
    @include line-height(27);
    margin-bottom: 20px;
    text-align: center;

    @include media('>=430px') {
        width: 80%;
        margin: 0 auto 20px;
    }

    &:last-of-type {
        margin-bottom: 30px;
    }
}

.contact__email-wrapper{
    display: block;
    margin-bottom: 30px;
}

.contact__email,
.contact__phone {
    @include font-size(25);
    @include line-height(35);
    display: inline-block;
    vertical-align: middle;
    padding: 5px 20px;
    background-color: $colour-white;
    color: $colour-black;

    @include media('>=430px') {
        background-color: $colour-navy;
        color: $colour-white;
    }
}

.icn__email {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 45px;
    margin-right: 20px;
    fill: $colour-white;
    stroke: $colour-black;
}


.icn__phone {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 45px;
    margin-right: 20px;
    fill: $colour-white;
    stroke: $colour-black;
}