.footer {
	background-color: $colour-black;
	color: $colour-white;
	padding: 30px 20px;
}

.footer__date {
	@include media('>=1000px') {
		display: inline-block;
		vertical-align: top;
    	width: 33.33333%;
    	margin-right: -4px;
	}
}

.footer__contact {
	@include media('>=1000px') {
		display: inline-block;
		vertical-align: top;
    	width: 33.33333%;
    	margin-right: -4px;
    	text-align: center;
	}
}

.footer__slogan {
	color: $colour-brightblue;
	@include media('>=1000px') {
		display: inline-block;
		vertical-align: top;
    	width: 33.33333%;
    	margin-right: -4px;
    	text-align: right;
	}
}

.footer__mailto {
	color: $colour-white;
	text-decoration: none;
}