.grid {
	font-size: 0;
}

.grid__flex-container {
	@include media('>=desktop') {
		display: flex;
		flex-direction: row-reverse;
	}
}

.grid__item {
	@include font-size(16);
	@include line-height(21);
	background-color: $colour-white;


	@include media('>=desktop') {
		display: inline-block;
		vertical-align: top;
		/* Set up squares */
		width: 50%;
		height: 0;
		padding-bottom: 50%;
	}
}

.grid__image {
	display: block;
}

.grid__text {
	padding: 30px;

	@include media('>=500px') {
        padding: 40px;
    }
	
	@include media('>=tablet') {
		padding: 50px;
	}

	@include media('>=desktop') {
		padding: 40px 25px 40px 35px;
	}

	@include media('>=1350px') {
		padding: 70px 50px 70px 70px;
	}

	@include media('>=1700px') {
		padding: 100px;
	}
}

.grid__title {
	@include font-size(35);
    @include line-height(35);
	margin-bottom: 25px;
	color: $colour-black;
	font-weight: $font-weight-bold;

	@include media('>=400px') {
		@include font-size(45);
    	@include line-height(45);
	}

	@include media('>=tablet') {
		margin-bottom: $vertical-rhythm;
	}

	@include media('>=desktop', '<1230px') {
		@include font-size(35);
    	@include line-height(35);
	}

	@include media('>=1700px') {
		@include font-size(50);
    	@include line-height(60);
    	margin-bottom: 35px;
	}
}

.grid__intro {
	@include font-size(17);
    @include line-height(24);
	margin-bottom: $vertical-rhythm;

	@include media('>=400px') {
		@include font-size(19);
    	@include line-height(27);
	}

	@include media('>=desktop') {
		@include font-size(18);
    	@include line-height(24);
	}
	@include media('>=1230px') {
		@include font-size(18);
	}
	@include media('>=1500px') {
		@include font-size(19);
    	@include line-height(27);
	}

	@include media('>=1700px') {
		@include font-size(24);
    	@include line-height(32);
	}

	&--extra {
		@include media('>=desktop', '<1230px') {
			display: none;
		}
	}
}

.grid__list {
	margin-bottom: $vertical-rhythm;
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 20px;
	margin-bottom: 40px;

	@include media('>=1700px') {
		margin-bottom: 60px;
	}
}

.grid__list-item {
	@include font-size(17);
    @include line-height(24);
    font-weight: $font-weight-normal;
    padding-left: 10px;
    margin-bottom: 10px;

    @include media('>=400px') {
		@include font-size(19);
    	@include line-height(27);
	}

    @include media('>=desktop') {
		@include font-size(18);
    	@include line-height(24);
	}
	@include media('>=1230px') {
		@include font-size(18);
	}
	@include media('>=1500px') {
		@include font-size(19);
    	@include line-height(27);
	}

	@include media('>=1700px') {
		@include font-size(24);
    	@include line-height(32);
    	margin-bottom: 20px;
	}
}

.grid__cta {
	display: inline-block;
	background: transparent;
    border: 2px solid $colour-brightblue;
    color: $colour-brightblue;
    padding: 10px 20px;
    margin-bottom: $vertical-rhythm;
    @include font-size(20);
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
    	color: $colour-white;
    	background-color: $colour-brightblue;
    }

    @include media('>=400px') {
    	@include font-size(23);
    	padding: 15px 25px;
    }

    @include media('>=desktop'	) {
		@include font-size(21);
	}

	@include media('>=1230px') {
		@include font-size(23);
	}

	@include media('>=1700px') {
		@include font-size(31);
		padding: 20px 30px;
	}
}