.grid {
	font-size: 0;
}

.grid__item {
	@include font-size(16);
	@include line-height(21);

	/* Set up squares */
	height: 0;
	padding-bottom: 100%;
	
	@include media('>=tablet') {
		display: inline-block;
		vertical-align: top;
		
		width: 50%;
		padding-bottom: 50%;
	}

	&--image {
		background-color: $colour-black;
	}

	&--text {
		background-color: $colour-brightblue;
	}

}