.grid {
	font-size: 0;
}

.grid__flex-container {
	@include media('>=1000px') {
		display: flex;
		flex-direction: row-reverse;
	}
}

.grid__item {
	@include font-size(16);
	@include line-height(21);
	background-color: $colour-white;


	@include media('>=1000px') {
		display: inline-block;
		vertical-align: top;
		/* Set up squares */
		width: 50%;
		height: 0;
		padding-bottom: 50%;
	}
}

.grid__image {
	display: block;
}

.grid__text {
	padding: 30px;

	@include media('>=500px') {
        padding: 40px;
    }
	
	@include media('>=tablet') {
		padding: 50px;
	}

	@include media('>=1350px') {
		padding: 80px;
	}
}

.grid__title {
	@include font-size(45);
    @include line-height(45);
	margin-bottom: 10px;
	color: $colour-black;
	font-weight: $font-weight-bold;

	@include media('>=tablet') {
		margin-bottom: $vertical-rhythm;
	}

	@include media('>=1000px', '<1150px') {
		@include font-size(35);
    	@include line-height(35);
	}
}

.grid__intro {
	@include font-size(19);
    @include line-height(27);
	margin-bottom: $vertical-rhythm;

	@include media('>=1000px', '<1150px') {
		@include font-size(17);
    	@include line-height(22);
	}

	&--extra {
		@include media('>=1000px', '<1150px') {
			display: none;
		}
	}
}

.grid__list {
	margin-bottom: $vertical-rhythm;
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 20px;
	margin-bottom: 40px;
}

.grid__list-item {
	@include font-size(19);
    @include line-height(27);
    font-weight: $font-weight-normal;
    padding-left: 10px;

    @include media('>=1000px', '<1150px') {
		@include font-size(17);
    	@include line-height(22);
	}
}

.grid__cta {
	display: inline-block;
	background: transparent;
    border: 2px solid $colour-brightblue;
    color: $colour-brightblue;
    padding: 15px 25px;
    margin-bottom: $vertical-rhythm;
    @include font-size(22);
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
    	color: $colour-white;
    	background-color: $colour-brightblue;
    }

    @include media('>=400px') {
    	@include font-size(25);
    }

    @include media('>=1000px', '<1150px') {
		@include font-size(21);
	}
}