.hero {
	background-image: url('../img/rooftopshot.jpg');
	background-color: $colour-white;
	background-repeat: no-repeat;
	background-size: cover;

	/* Remove once content added */
	height: 400px;
}
