.nav {
	background: $colour-black;
	font-family: $font-title;
	padding: $vertical-rhythm 0;
	text-align: center;

	@include media('>=tablet') {
		text-align: right;
	}
}

.nav__item {
	display: inline-block;
    padding: 0 9px;
    @include font-size(15);
    @include line-height(19);

	@include media('>=430px') {
		@include font-size(15);
    	@include line-height(19);
    	padding: 0 20px;
	}
	@include media('>=500px') {
		@include font-size(18);
    	@include line-height(25);
	}
	@include media('>=1500px') {
		@include font-size(20);
    	@include line-height(27);
	}
}

.nav__link {
	color: $colour-white;
	text-decoration: none;
	border-bottom: 2px solid $colour-black;
	transition: border-bottom 0.15s ease-in;
	&:hover {
		border-bottom: 2px solid $colour-white;
	}
}

